<div class="container-pg-center">
  <form>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Altura - CM</mat-label>
        <input matInput type="number" min=1 id="id-calc-altura" name="calc_altura" placeholder="Informe a altura..." required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Peso - KG</mat-label>
        <input matInput type="number" min=1 id="id-calc-peso" name="calc_peso" placeholder="Informe a peso..." required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <button mat-raised-button color="warn" class="right" onclick="infoIMC()">Confirmar</button>
  </form>
</div>
