<mat-toolbar color="primary">
  <span class="material-icons" routerLink="home">
    <img  class="textimg" src="./assets/baseline_library_add_check_white_18dp.png">
    <!-- <span class="material-icons">library_add_check</span> -->
  </span>
  <a routerLink="home">Tarefas.js</a>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-raised-button color="warn" routerLink="home">Home</button>
    
  </div>
  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <img  class="textimg" src="./assets/perm_data_setting-white-36dp.svg">
    <!-- <span class="material-icons">perm_data_setting</span> -->
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item color="accent" routerLink="idade">Calcular idade</button>
    <button mat-menu-item color="accent" routerLink="dolar">Calcular Dolar para Real</button>
    <button mat-menu-item color="accent" routerLink="diadasemana">Descobrir dia</button>
    <button mat-menu-item color="accent" routerLink="desconto">Calcular Desconto</button>
    <button mat-menu-item color="accent" routerLink="imc">Calcular IMC</button>
  </mat-menu>
</mat-toolbar>