<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tarefas.js</span>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-raised-button color="warn" routerLink="home">Home</button>
    <button mat-raised-button color="accent" routerLink="idade">Idade</button>
    <button mat-raised-button color="accent" routerLink="dolar">Cotação do Dolar</button>
    <button mat-raised-button color="accent" routerLink="diadasemana">Dia da Semana</button>
    <button mat-raised-button color="accent" routerLink="desconto">Desconto</button>
    <button mat-raised-button color="accent" routerLink="imc">IMC</button>
  </div>
</mat-toolbar>