<div class="container-pg-center">
  <form>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Informe uma data</mat-label>
        <input matInput type="date" id="id-info-data" name="info_data" placeholder="informe a data..." required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <button mat-raised-button color="warn" class="right" onclick="infoDiaSemana()">Confirmar</button>
  </form>
  
</div>
